@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>File Upload System</h1>
    <p>An ASP.NET MVC v5.1 web application using:</p>
    <ul style="line-height:normal;list-style-type:circle;font-size: 17px;">
    <li>MS SQL Database</li>
    <li>Entity Framework (Code First)</li>
    <li>
        Authentication: Unregistered, Registered and Admins
        <ul style="list-style-type:disc;">
            <li>All users can Download files</li>
            <li>Registered users can Upload/Delete their own files</li>
            <li>Administrators can Delete/Edit all files</li>
        </ul>
    </li>
    <li>File searching by Filename, Size, Type</li>
    <li>Paging</li>
    <li>Admin area with scaffolding</li>
    <li>Mapping Models-ViewModels with <a href="http://automapper.org/">AutoMapper</a></li>
    <li>Dependency injection with <a href="http://www.ninject.org/">Ninject</a></li>
    <li>CSS by <a href="http://getbootstrap.com/">Bootstrap</a></li>
</ul>  
    <p><a href="https://github.com/TsvetanKT/FileUploadSystem" class="btn btn-primary btn-lg">Project GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You could register new user of use:<br />
            User name: <b>TestUser</b><br />
            Password: <b>pass123</b>
        </p>
    </div>
</div>